body {
  padding-top: 65px;
  color: #888888;
  font-family: 'Courgette', cursive;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 5px;
}

[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak {
  display: none !important;
}

.imgSmall200 {
  margin-left: 5px;
  padding: 5px;
  border-radius: 6px;
  border: 5px solid #888888;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.title {
  font-family: 'Courgette', cursive;
  display: block;
  font-size: 100%;
  /*  width: 300px;*/
   margin-right: 5px;
}

.titleGo {
 /* font-family: 'Courgette', cursive;*/
  display: block;
  font-size: 95%;
  height:150px;
  /*  width: 300px;*/
   margin-right: 5px;
   color: #888888;
}

.googlefonttitle {
  font-family: 'Courgette', cursive;
  font-size: 90%;
  text-shadow: 1px 1px 1px #aaa;
  
}

.googlefontcont {
  font-family: 'Courgette', cursive;
  font-size: 70%;
  /*text-shadow: 1px 1px 1px #aaa; */
  /* color: red !important;*/
}

.itemimage30 {
  margin-left: 5px; 
  width : 38%;
  padding: 5px;
  border-radius: 6px;
  border: 5px solid #888888;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}